<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To Do List</h1>

    <% if (Todo.length === 0) { %>
    	<h3>There are no To Dos yet!</h3>
    <% } else { %>
    	<ul>
	    	<% Todo.forEach( (todo, idx) => { %>
	    		<li>
	    			<%= todo.todo %> -
	    			<%= todo.done ? 'Done' : 'Not Done' %>
	    			
	    			<form action="/<%= idx %>?_method=DELETE" id="delete-form" method="POST">
						<button type="submit">Delete</button>
					</form>
	    				
	    		</li>
	    	<% }) %>
	    </ul>
    <% } %>

    <form method="POST" action="/create">
    	<input type="text" name="newTodo">
    	<button type="submit">
    		ADD TODO
    	</button>
    </form>

  </body>
</html>
